.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(34, 168, 235);
  width: auto;
  height: auto;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1500px;
  margin: 0 auto;
}

.h1{
  margin: 0;
  padding: 10px 0;
  font: 100px 'Courier New', Courier, monospace;
  font-size: 50px;
}

.h2 {
  margin: 0;
  padding: 10px 0;
  padding-top: 1rem;
  font: 100px 'Courier New', Courier, monospace;
  font-size: 30px;
}

.h1:after {
  animation: blink 1s infinite;
}

.textContainer {
  position: relative;
  width: 100%;
  text-align: center; 
  height: 100px; /* Adjust this value based on your design */
  overflow-y: auto;
}

.buttonsContainer {
  position: relative;  /* changed from absolute */
  top: 0;              /* reset this to 0 */
  width: 100%;         /* make it span the full width of its container */
  justify-content: center;
  padding-top: 15rem;
  align-items: center;
  display: flex;
  gap: 30px;
}

.section {
  width: 100%;
  padding-top: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sectionLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.2s;
  font: 100px 'Courier New', Courier, monospace;
  font-size: 20px;
  justify-content: center;
}

.sectionLink:hover {
  color: rgba(255, 255, 255, 0.7);
}

@keyframes blink {
  0%, 49% {
      opacity: 0;
  }
  50%, 100% {
      opacity: 1;
  }
}

.fixedContainer {
  position: fixed;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcons {
  margin-bottom: 20px;
}

.socialIcons a {
  display: block;
  padding: 10%;
  margin-bottom: 10px;
}

.socialIcons img {
  width: 25px;
  height: 25px;
}

.verticalLineLeft {
  height: 100px;
  width: 2px;
  background-color: #060606;
}

/* Modifications for responsiveness */
@media (max-width: 768px) {
  .container {
    padding-top: 5rem;
  }

  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 20px;
  }

  .buttonsContainer {
    top: 250px;
    left: 15%;
    padding-top: 5rem;
  }

  .section {
    padding-top: 20rem;
  }

  .fixedContainer {
    left: 3%;
  }

  .socialIcons img {
    width: 20px;
    height: 20px;
  }

  .buttonsContainer {
    flex-direction: column;  /* stack buttons vertically */
    gap: 20px;
}
}


